/* Styles for the Movie List */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  margin: 20px;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.2s;
}

.image-container:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  border-radius: 8px;
}

/* Overlay styles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .overlay {
  opacity: 1;
}

.add-my-list,
.remove-my-list {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

/* Styles for the Movie List Heading */
.movie-list-heading {
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
  color: #ffd700;
  text-shadow: 0 0 5px #ffd700, /* Glow effect */ 0 0 10px #ffd700,
    0 0 15px #ffd700, 0 0 20px #ffea00;
}

.movie-list-heading h1 {
  font-size: 24px;
  color: #333;
}

/* Styles for Search Box */
.search-box {
  margin: 20px;
  text-align: center;
}

.search-box input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .search-box input {
    width: 80%;
  }
}
